top; configure terminal;

# configuration eb03ba4b212649e1ba2b0b743a868f5c generated Sat Jul 4 07:12:11 2026; firmware version 365335

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$12345678$kbapHduhihjieYIUP66Xt/"
  access-level privileged
exit

%endif%
